/*id가 vbox1인 스타일 적용 */
#vBox1{
	-fx-border-color: black;
	-fx-border-width: 5;
}

#vBox2{
	-fx-border-color: red;
	-fx-border-width: 3;
	-fx-border-radius: 20;
}

#vBox3{
	-fx-border-insets: 0,10,20;
	-fx-border-color: red,blue,black;
	-fx-border-width: 5,3,1;
}
#vBox4{
	-fx-border-insets: 0,10,20;
	-fx-border-color: red,blue white blue white,black;
	-fx-border-width: 5,1 3 3 1,1;
	
}
#vBox5{
	-fx-border-color: red;
	-fx-border-width: 3;
	-fx-border-style: solid dotted;
	
}