Label{
	-fx-padding:5;
	-fx-background-color:blue;
	-fx-text-fill:red;
}
/*id가 btnid인것만 적용을 한다 */
#btnId{
	-fx-background-color: red;
	-fx-text-fill: yellow;
}
/*class선택자를 이용하는 코드 */
.btnClass{
	-fx-background-color: blue;
	-fx-text-fill: cyan;
}